[Unit]
Description=RaspiCtrl

[Service]
User=root
WorkingDirectory=/home/pi
ExecStart=/home/pi/raspictrl :80
Restart=always

[Install]
WantedBy=multi-user.target